---
layout: default
---

{% include site-header.html %}  <!-- 包含网站头部文件 -->

<main class="main  container{% if page.wide == true %}  main--wide{% endif %}" id="main-content">  <!-- 定义主容器 -->

  <article class="article  article--page  content  typeset">  <!-- 定义页面文章容器 -->

    <header class="page-heading">
      <span class="page-heading__index" aria-hidden="true">/ {{ page.url | remove_first: '/' | split: '/' | first | default: 'home' }}</span>
      <h1>{{ page.title }}</h1>
      {% if page.excerpt and page.excerpt != "" %}<p>{{ page.excerpt }}</p>{% endif %}
    </header>

    {{ content }}  <!-- 显示页面内容 -->

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}  <!-- 如果页面有侧边栏，则包含侧边栏文件 -->

</main>

{% include site-footer.html %}  <!-- 包含网站底部文件 -->
