---
layout: default
---

<main class="main  container" id="main-content">  <!-- 主内容容器 -->

  <article class="article  article--post  content  typeset">  <!-- 文章容器 -->

    <header class="page-heading page-heading--post">
      <span class="page-heading__index">{% if page.lang == "en" %}Research note{% else %}研究笔记{% endif %}</span>
      <h1>{{ page.title }}</h1>
    </header>
    {% include post-meta.html %}  <!-- 包含文章元数据 -->
    {% include post-toc.html variant="inline" %}
    {{ content }}  <!-- 显示文章内容 -->

    {% unless page.share == false %}
      {% include nav-share.html %}  <!-- 包含分享导航 -->
    {% endunless %}

    {% include post-related.html %}

    {% include post-comments.html %}  <!-- 包含评论部分 -->

  </article>

  {% if page.aside == true %}{% include site-aside.html align="left" %}{% endif %}  <!-- 如果页面有侧边栏，则包含侧边栏内容 -->

</main>
